In [1]:
import pandas as pd
import numpy as np

Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [3]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
1071,Clark,Baker,male,16,5,18,100.0,"9895 Beach Drive, Elizabeth City, NC 27909"
423,Neil,Beck,male,16,2,18,91.4,"568 Division Street, Oak Ridge, TN 37830"
1681,Gabriel,Goff,male,19,5,13,94.4,"52 Cedar St., South Richmond Hill, NY 11419"
746,Chase,Wiley,male,14,1,13,90.8,"5 Second St., Dubuque, IA 52001"
1129,Nasim,Stuart,male,17,1,11,72.4,"466 Boston Drive, West Chester, PA 19380"
337,Orlando,Osborne,male,19,4,8,69.3,"31 Country Lane, Reisterstown, MD 21136"
760,Anastasia,Goodwin,female,18,4,3,76.4,"7 Morris Street, Mechanicsville, VA 23111"
1846,Roary,Howe,female,16,1,18,85.4,"469 West Oakland St., Baldwin, NY 11510"
698,Ruth,Bowman,female,18,3,18,100.0,"8621 Shub Farm Ave., Ocean Springs, MS 39564"
1446,Idola,Jacobson,female,17,5,7,70.0,"8387 Middle River Circle, Cary, NC 27511"
596,Breanna,Gillespie,female,19,1,12,82.5,"81 South Shore Drive, Philadelphia, PA 19111"
308,Britanni,Fletcher,female,15,1,10,80.7,"739 Joy Ridge St., Phoenix, AZ 85021"
1782,Alvin,Bullock,male,16,1,18,90.1,"82 Thorne Ave., Ann Arbor, MI 48103"
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053"
866,Zane,Rodgers,male,14,3,14,83.0,"9 Railroad Lane, Oshkosh, WI 54901"
848,Samson,Francis,male,19,1,12,81.9,"8594 N. Plumb Branch Road, Longview, TX 75604"
553,Wade,Holden,male,15,3,12,92.6,"722 E. Lookout Street, Lincolnton, NC 28092"
1083,Morgan,Dejesus,female,14,2,12,85.2,"6 E. Prairie Dr., Manchester, NH 03102"
715,Amery,Pearson,male,17,1,14,83.3,"388 Eagle St., Auburn, NY 13021"
1597,Abra,Tyler,female,15,2,9,71.7,"27 Creekside Avenue, Saint Charles, IL 60174"
765,Tanek,Gallagher,male,17,3,11,74.4,"81 Wagon Street, South Windsor, CT 06074"
1044,May,Duran,female,19,1,18,100.0,"9680 Summit St., Ellenwood, GA 30294"
914,Sonia,Mccall,female,16,5,17,100.0,"904 Pheasant Street, Fitchburg, MA 01420"
1103,Lester,Mendoza,male,18,1,7,62.7,"7039 Depot Road, Massillon, OH 44646"
795,Yetta,Webb,female,19,1,11,87.5,"545 Glen Eagles Court, Kissimmee, FL 34741"
749,Uta,Perez,female,17,4,10,78.2,"36 Myers Ave., East Brunswick, NJ 08816"
428,Berk,Austin,male,19,5,11,88.1,"85 Glenholme Street, Royal Oak, MI 48067"
1155,Kieran,Martinez,male,14,3,4,60.8,"9 Military St., Springboro, OH 45066"
480,Sarah,Gibbs,female,15,5,9,71.3,"288 East Ridgeview Dr., Lutherville Timonium, ..."
156,Chase,Flynn,male,19,3,7,81.1,"8260 Lakewood Ave., Hackensack, NJ 07601"
...,...,...,...,...,...,...,...,...
1497,Hanae,Jones,female,17,5,6,83.7,"872 Forest Street, Spring Valley, NY 10977"
1323,Caldwell,Case,male,15,3,9,71.9,"62 Ketch Harbour St., Missoula, MT 59801"
1628,Freya,Sykes,female,19,4,18,89.4,"103 Circle Court, Zeeland, MI 49464"
952,Lane,Keith,male,16,1,8,79.9,"8853 Stonybrook Road, Selden, NY 11784"
1158,Brett,Wilder,male,17,4,7,71.4,"9642 Bridle St., Coram, NY 11727"
264,Noah,Cote,male,14,2,13,84.3,"885 Mountainview Rd., Roanoke Rapids, NC 27870"
279,Elvis,Watkins,male,14,2,11,80.7,"8885 10th Ave., Rock Hill, SC 29730"
891,Mufutau,Beck,male,18,5,12,82.9,"673 Mulberry Lane, Bloomington, IN 47401"
514,Kirk,Keller,male,16,4,6,77.0,"7334 Pine St., Lake Worth, FL 33460"
1440,Declan,Warner,male,14,4,12,89.7,"19 Old York Lane, Toms River, NJ 08753"
255,Lamar,Day,male,17,4,17,95.0,"635 Augusta St., New Haven, CT 06511"
1739,Chadwick,Harrell,male,17,1,12,90.3,"55 Fieldstone Circle, Monroe, NY 10950"
1148,Rhea,Cantrell,female,19,4,12,81.3,"620 Division Circle, Englishtown, NJ 07726"
124,Salvador,Gray,male,14,1,13,84.2,"677 Talbot Street, Shepherdsville, KY 40165"
1539,Isadora,Whitehead,female,14,1,7,75.0,"80 Valley View Lane, Cumberland, RI 02864"
682,Quon,James,female,19,2,5,71.4,"9907 Wakehurst Street, Myrtle Beach, SC 29577"
797,Magee,Kim,male,17,1,14,76.8,"460 La Sierra Lane, Copperas Cove, TX 76522"
1733,Naomi,Strong,female,15,2,20,100.0,"507 E. Fifth Lane, Natick, MA 01760"
373,Inga,Sharpe,female,17,1,5,74.1,"7143 Bayport Ave., Lansdale, PA 19446"
1766,Brynn,Vasquez,female,15,2,11,87.5,"122 Iroquois Lane, Tuckerton, NJ 08087"
1350,Kimberley,Key,female,19,4,11,93.0,"240 East Lake Street, Laurel, MD 20707"
1908,Ezekiel,Wilder,male,15,2,4,62.8,"313 Silver Spear St., Englishtown, NJ 07726"
1198,Brock,Espinoza,male,17,3,15,82.9,"9252 Birchpond Dr., Centreville, VA 20120"
1545,Asher,Guerrero,male,14,4,15,100.0,"28 North Charles Road, Lithonia, GA 30038"
1336,Morgan,Rutledge,female,15,3,13,92.3,"9124 E. Garden Court, Mountain View, CA 94043"
170,Solomon,Rosales,male,19,3,17,91.1,"9187 Park Dr., Irmo, SC 29063"
304,Cassandra,Barton,female,18,4,12,79.5,"9142 Briarwood St., Newark, NJ 07103"
1248,Jerry,Short,male,17,5,6,78.2,"8713 East Lake St., Torrington, CT 06790"
1713,Carolyn,Rhodes,female,17,3,6,72.5,"194 Windsor Rd., Greenville, NC 27834"
1697,Lyle,Salas,male,16,5,13,81.9,"3 Kirkland St., South Plainfield, NJ 07080"